.arrow-wrapper {
  position: absolute;
  overflow: hidden;
  padding: 10px;
  background: transparent;
}

.bottom-center {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.top-center {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.left-center {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.right-center {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.square {
  border-radius: 0;
}

.circle {
  border-radius: 50%;
}

.arrow {
  position: relative;
  margin: 0 auto;
  height: 20px;
  width: 20px;
  border-style: solid;
}
.width-2 {
  border-width: 2px 2px 0 0;
}
.width-3 {
  border-width: 3px 3px 0 0;
}
.width-4 {
  border-width: 4px 4px 0 0;
}
.width-5 {
  border-width: 5px 5px 0 0;
}

.bottom-direction {
  top: -5px;
  transform: rotateZ(135deg);
}

.top-direction {
  top: 5px;
  transform: rotateZ(-45deg);
}

.left-direction {
  top: 0;
  left: 5px;
  transform: rotateZ(-135deg);
}

.right-direction {
  top: 0;
  right: 5px;
  transform: rotateZ(45deg);
}
