.carousel-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  overflow: hidden;
}
.carousel-slides {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.slide {
  margin: 0 5px;
  height: 100%;
  width: 300px;
}
.slide img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide.moveRight {
  animation: MoveRight .5s ease-in-out forwards;
}
.slide.moveLeft {
  animation: MoveLeft .5s ease-in-out forwards;
}

@keyframes MoveRight {
  0% { transform: translate3d(0)}
  100% { transform: translate3d(-300px, 0, 0)}
}

@keyframes MoveLeft {
  0% { transform: translate3d(0)}
  100% { transform: translate3d(300px, 0, 0)}
}